@model ExcelUploader.Models.FileValidation
@{
    ViewBag.Title = "Home Page";
}
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <span>Select File:</span>
    <input type="file" name="postedFile" accept="xsl,xslx" class="form-control" />
    if (Model != null)
    {
        /**/
        if (Model.hasError == true)
        {
            <span style="color:red"> @Model.Message</span>
        }
        else
        {
            <span style="color:green"> @Model.Message</span>


        }
    }

    <hr />
    <input type="submit" value="Upload" class="btn btn-primary" />
}
